#more-details {
    background: map-get($palette, secondary);
    color: #fff;
    text-align: center;
    padding: $gap 5%;
    position: relative;
    margin-bottom: $gap;

    &::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 15px solid map-get($palette, secondary);
    }

    &.no-arrow {
        margin-bottom: 0;
        margin-top: $gap * 2;

        &::after {
            display: none;
        }
    }
}

// Loan Form
#loan-form {
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
    }

    .form-intro {
        background: rgba(255, 255, 255, 1);
        padding: $gap 5%;
        border-bottom: 1px solid #e3eaf1;

        h2 {
            line-height: 1.1;
            margin-bottom: 10px;
        }

        @media (min-width: 992px) {
            padding-left: 3%;
            padding-right: 3%;
        }

        &.form-validation-messages {
            background: rgba(255, 0, 0, 0.1);
            color: red;
            font-size: 90%;

            h4 {
                font-size: 110%;
                font-weight: 600;
                margin-bottom: $gap / 2;
                color: #000;
            }
        }
    }

    .button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* .fields .field .tooltip {
        @media (min-width: 992px) {
            transition: all 0.15s ease-in-out;
            opacity: 0;
            transform: translate(5px, 0);
        }
    } */
}

.fields {
    border-bottom: 5px solid #00a997;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 5%;
    margin-bottom: $gap;

    @media (min-width: 992px) {
        padding-top: 65px;
        padding-bottom: 65px;
        margin-bottom: $gap * 2;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $gap;

        @media (min-width: 992px) {
            flex-direction: row;
            margin-bottom: $gap / 2;
            align-items: flex-start;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        label {
            flex: 0 1 100%;
            width: 100%;
            font-size: 85%;
            font-weight: 600;
            padding-bottom: 10px;

            @include letter-spacing(-4);

            @media (min-width: 992px) {
                flex: 0 1 25%;
                width: 25%;
                text-align: right;
                padding: 15px $gap / 2 0;
            }
        }

        .input {
            flex: 0 1 100%;
            width: 100%;
            display: flex;
            align-items: center;

            @media (min-width: 992px) {
                flex: 0 1 40%;
                width: 40%;
                padding: 0 $gap / 2;
            }

            input[type='text'],
            input[type='email'],
            input[type='number'],
            input[type='password'],
            select,
            textarea {
                width: 100%;
                font-size: 80%;
                border-radius: 2px;
                background: rgba(255, 255, 255, 1);
                border: 1px solid #d0d0d0;
                height: 45px;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 100;

                &.is-invalid {
                    border-color: red;
                }
            }

            select {
                appearance: none;
                background: url('/images/caret.svg') 98% center no-repeat;
                background-size: 20px 15px;
            }

            textarea {
                padding-top: 10px;
                padding-bottom: 10px;
                min-height: 100px;
            }

            input[type='checkbox'],
            input[type='radio'] {
                margin: 0 auto 0;

                @media (min-width: 992px) {
                    margin: 18px 0 0;
                }
            }

            .pre {
                width: 45px;
                height: 45px;
                border: 2px solid #00a997;
                background: #00a997;
                border-radius: 2px 0 0 2px;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                & + input {
                    border-radius: 0 2px 2px 0;
                    border-left: 0;
                }
            }
        }

        .tooltip {
            flex: 0 1 100%;
            width: 100%;
            font-size: 80%;
            display: flex;
            align-items: center;
            justify-content: stretch;

            @media (min-width: 992px) {
                flex: 0 1 30%;
                width: 30%;
                font-size: 66%;
                height: 45px;
            }

            span {
                position: relative;
                background: #00a997;
                display: block;
                border-radius: 2px;
                color: #fff;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                    margin: 0 10px 0 0;
                    float: left;
                }

                &::before {
                    content: ' ';
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #00a997;

                    @media (min-width: 992px) {
                        right: 100%;
                        left: auto;
                        top: 50%;
                        margin: -10px 0 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid #00a997;
                    }
                }

                @media (min-width: 992px) {
                    position: relative;
                    margin-top: -0px;
                }
            }
        }

        &.active .tooltip {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}
