.single-lead {
    .lead {
        .field {
            display: flex;
            flex-direction: row;
            background: rgba(255, 255, 255, 1);

            &:not(:last-of-type) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            .label {
                flex: 0 1 30%;
                padding: 10px 20px;
                font-size: 70%;
                font-weight: 600;
                min-height: 35px;
                justify-content: flex-end;
                text-align: right;
                display: flex;
                align-items: center;
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.03),
                    rgba(0, 0, 0, 0.05)
                );
            }

            .value {
                flex: 0 1 70%;
                padding: 10px;
                min-height: 35px;
                display: flex;
                align-items: center;

                @media (min-width: 992px) {
                    padding: 20px;
                }
            }
        }
    }
}
