#leads {
    .full_name {
        flex: 0 1 20%;

        @media (max-width: 992px) {
            flex: 0 1 40%;
        }
    }
    .street_address,
    .question {
        flex: 0 1 20%;
    }
    .province {
        flex: 0 1 10%;
    }
    .lead-id,
    .postal_code,
    .email_opt_in,
    .terms_conditions_consent {
        flex: 0 1 5%;
    }
    .phone_number {
        flex: 0 1 25%;

        @media (min-width: 992px) {
            flex: 0 1 10%;
        }
    }
    .email_address {
        flex: 0 1 25%;

        @media (min-width: 992px) {
            flex: 0 1 15%;
        }
    }

    a {
        color: map-get($palette, primary);
    }

    .hide-on-mobile {
        @media (max-width: 992px) {
            display: none;
        }
    }

    .legend {
        font-size: 60%;
        font-weight: 500;
        display: flex;

        > div {
            padding: 10px 5px;
            background: linear-gradient(to bottom, #fff, #efefef);
            font-weight: 600;

            @media (min-width: 992px) {
                &:first-of-type {
                    border-radius: 2px 0 0 0;
                }

                &:last-of-type {
                    border-radius: 0 2px 0 0;
                }
            }
        }

        &.footer {
            background: linear-gradient(to top, #fff, #efefef);

            @media (min-width: 992px) {
                &:first-of-type {
                    border-radius: 0 0 0 2px;
                }

                &:last-of-type {
                    border-radius: 0 0 2px 0;
                }
            }
        }
    }

    .lead {
        display: flex;
        font-size: 80%;

        > div {
            padding: 10px 5px;
            background: rgba(255, 255, 255, 0.8);
            overflow: hidden;
        }

        &:nth-of-type(odd) > div {
            background: rgba(255, 255, 255, 0.6);
        }

        &:hover {
            background: #fefefe;
        }
    }
}
