// Fonts
body {
    font-family: 'proxima-nova';
    font-weight: 300;
}

// Global / Setup
@import 'mixins';
@import 'reset';
@import 'variables';
@import 'global';
@import 'buttons';
@import 'type';

// Sections
@import 'header';
@import 'footer';
@import 'page';
@import 'terms';
@import 'breadcrumb';
@import 'auth-forms';
@import 'pagination';

// Pages
@import './pages/home';
@import './pages/leads';
@import './pages/lead';
