.auth-form {
    margin: $gap auto 0;
    max-width: 800px;

    .fields .field {
        .tooltip {
            margin-top: -5px;
        }

        .forgot {
            margin-left: 10px;
        }
    }
}
