#breadcrumb {
    background: lighten(map-get($palette, primary), 30%);
    padding: 10px 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 992px) {
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row;
    }

    p {
        margin: 0;
        font-size: 70%;

        &.user-stuff {
            margin-top: 10px;

            @media (min-width: 992px) {
                margin-top: 0;
            }
        }
    }

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);

        &.logout {
            color: map-get($palette, secondary);
        }
    }
}
