.button {
    height: 45px;
    border-radius: 45px;
    min-width: 250px;
    background: map-get($palette, lightblue);
    border: 1px solid map-get($palette, primary);
    color: #fff;
    font-family: 'proxima-nova', sans-serif;

    @media (min-width: 992px) {
        height: 65px;
        border-radius: 65px;
        min-width: 300px;
    }

    &.has-arrow {
        svg {
            position: relative;
            margin-left: 5px;
            width: 10px;
            height: 10px;
            stroke-width: 2px;
            stroke: #fff;
            fill: #fff;
        }
    }

    &.has-gradient {
        background: linear-gradient(to right, #00a996, #87be2d);
    }

    &.smaller {
        height: 45px;
        min-width: 100px;
        border-radius: 45px;
        font-size: 80%;
    }
}
