footer#footer {
    background: map-get($palette, primary);
    padding: $gap 5%;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;

    @media (min-width: 992px) {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

    #quint-group {
        text-align: center;
        svg {
            width: 65px;
            height: 65px;
        }
        span {
            font-size: 66%;
            color: rgba(255, 255, 255, 0.41);
            display: block;
        }
        h6 {
            margin: 0;
            line-height: 1;
            font-size: 100%;
            color: #fff;
            font-weight: 600;
        }
    }

    p:last-of-type {
        text-transform: uppercase;
        margin: $gap 0 0;
        font-size: 70%;
        font-weight: 100;
    }
}
