body {
    background: #e3eaf1;
    font-family: 'proxima-nova', sans-serif;
    color: #31314d;

    font-size: 16px;
    line-height: 1.4;

    @media (min-width: 992px) {
        font-size: 18px;
    }

    @media (min-width: 1200px) {
        font-size: 21px;
        @include letter-spacing(-22);
    }
}

$gap: 35px;
