header#header {
    height: 101px;
    background: map-get($palette, primary);
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
        justify-content: flex-start;
    }
}
