#pagination {
    width: 100%;
    margin: $gap 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
        margin-top: $gap * 2;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    li {
        span,
        a {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: map-get($palette, primary);
            color: #fff;
            text-decoration: none;
            font-size: 80%;
        }

        span {
            background: rgba(0, 0, 0, 0.4);
        }
    }
}
