#terms {
    background: map-get($palette, primary);
    color: #fff;
    padding: $gap 5% 0;
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
        padding-top: $gap * 2.5;
    }

    .lead {
        text-align: center;
        padding-bottom: $gap;
        margin-bottom: $gap;
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);

        @media (min-width: 992px) {
            padding-bottom: $gap * 2.5;
            margin-bottom: $gap * 2;
        }
    }

    .columns {
        p {
            margin: 0 0 $gap / 2;
            font-size: 75%;
            line-height: 1.5;
        }

        @media (min-width: 992px) {
            column-count: 2;
            column-gap: $gap;
        }
    }

    .smaller {
        border-bottom: 1px solid rgba(255, 255, 255, 0.14);
        padding-top: $gap;
        padding-bottom: $gap;

        p {
            text-align: center;
            margin: 0 0 $gap / 2;
            font-size: 75%;
            line-height: 1.5;
        }

        @media (min-width: 992px) {
            padding-top: $gap * 1.5;
            padding-bottom: $gap * 1.5;
        }
    }
}
