h1 {
    font-size: 190%;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;

    @include letter-spacing(-22);

    @media (min-width: 992px) {
        line-height: 1.6;
        margin-bottom: 20px;
    }
}

h2 {
    font-size: 170%;
    line-height: 1.6;
    color: map-get($palette, lightblue);
}

p,
li {
    font-weight: 100;
}

strong,
b {
    font-weight: 600;
}
