body {
  font-family: "proxima-nova";
  font-weight: 300;
}

/**
Adobe XD gives a weird value for letter spacing
This calculation returns the px equivalent
of the value given in XD
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

* {
  box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #e3eaf1;
  font-family: "proxima-nova", sans-serif;
  color: #31314d;
  font-size: 16px;
  line-height: 1.4;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 21px;
    letter-spacing: -0.022em;
  }
}

.button {
  height: 45px;
  border-radius: 45px;
  min-width: 250px;
  background: #0091c8;
  border: 1px solid #31314d;
  color: #fff;
  font-family: "proxima-nova", sans-serif;
}

@media (min-width: 992px) {
  .button {
    height: 65px;
    border-radius: 65px;
    min-width: 300px;
  }
}

.button.has-arrow svg {
  position: relative;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  stroke-width: 2px;
  stroke: #fff;
  fill: #fff;
}

.button.has-gradient {
  background: linear-gradient(to right, #00a996, #87be2d);
}

.button.smaller {
  height: 45px;
  min-width: 100px;
  border-radius: 45px;
  font-size: 80%;
}

h1 {
  font-size: 190%;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: -0.022em;
}

@media (min-width: 992px) {
  h1 {
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 170%;
  line-height: 1.6;
  color: #0091c8;
}

p,
li {
  font-weight: 100;
}

strong,
b {
  font-weight: 600;
}

header#header {
  height: 101px;
  background: #31314d;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  header#header {
    justify-content: flex-start;
  }
}

footer#footer {
  background: #31314d;
  padding: 35px 5%;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

@media (min-width: 992px) {
  footer#footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

footer#footer #quint-group {
  text-align: center;
}

footer#footer #quint-group svg {
  width: 65px;
  height: 65px;
}

footer#footer #quint-group span {
  font-size: 66%;
  color: rgba(255, 255, 255, 0.41);
  display: block;
}

footer#footer #quint-group h6 {
  margin: 0;
  line-height: 1;
  font-size: 100%;
  color: #fff;
  font-weight: 600;
}

footer#footer p:last-of-type {
  text-transform: uppercase;
  margin: 35px 0 0;
  font-size: 70%;
  font-weight: 100;
}

#page {
  padding: 35px 5%;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  #page {
    margin-bottom: 105px;
  }
}

#terms {
  background: #31314d;
  color: #fff;
  padding: 35px 5% 0;
  text-align: center;
}

@media (min-width: 992px) {
  #terms {
    text-align: left;
    padding-top: 87.5px;
  }
}

#terms .lead {
  text-align: center;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

@media (min-width: 992px) {
  #terms .lead {
    padding-bottom: 87.5px;
    margin-bottom: 70px;
  }
}

#terms .columns p {
  margin: 0 0 17.5px;
  font-size: 75%;
  line-height: 1.5;
}

@media (min-width: 992px) {
  #terms .columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}

#terms .smaller {
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 35px;
  padding-bottom: 35px;
}

#terms .smaller p {
  text-align: center;
  margin: 0 0 17.5px;
  font-size: 75%;
  line-height: 1.5;
}

@media (min-width: 992px) {
  #terms .smaller {
    padding-top: 52.5px;
    padding-bottom: 52.5px;
  }
}

#breadcrumb {
  background: #7272a5;
  padding: 10px 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  #breadcrumb {
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
}

#breadcrumb p {
  margin: 0;
  font-size: 70%;
}

#breadcrumb p.user-stuff {
  margin-top: 10px;
}

@media (min-width: 992px) {
  #breadcrumb p.user-stuff {
    margin-top: 0;
  }
}

#breadcrumb a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#breadcrumb a.logout {
  color: #95c11e;
}

.auth-form {
  margin: 35px auto 0;
  max-width: 800px;
}

.auth-form .fields .field .tooltip {
  margin-top: -5px;
}

.auth-form .fields .field .forgot {
  margin-left: 10px;
}

#pagination {
  width: 100%;
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  #pagination {
    margin-top: 70px;
  }
}

#pagination ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#pagination li span,
#pagination li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31314d;
  color: #fff;
  text-decoration: none;
  font-size: 80%;
}

#pagination li span {
  background: rgba(0, 0, 0, 0.4);
}

#more-details {
  background: #95c11e;
  color: #fff;
  text-align: center;
  padding: 35px 5%;
  position: relative;
  margin-bottom: 35px;
}

#more-details::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #95c11e;
}

#more-details.no-arrow {
  margin-bottom: 0;
  margin-top: 70px;
}

#more-details.no-arrow::after {
  display: none;
}

#loan-form {
  text-align: center;
  /* .fields .field .tooltip {
      @media (min-width: 992px) {
          transition: all 0.15s ease-in-out;
          opacity: 0;
          transform: translate(5px, 0);
      }
  } */
}

@media (min-width: 992px) {
  #loan-form {
    text-align: left;
  }
}

#loan-form .form-intro {
  background: white;
  padding: 35px 5%;
  border-bottom: 1px solid #e3eaf1;
}

#loan-form .form-intro h2 {
  line-height: 1.1;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  #loan-form .form-intro {
    padding-left: 3%;
    padding-right: 3%;
  }
}

#loan-form .form-intro.form-validation-messages {
  background: rgba(255, 0, 0, 0.1);
  color: red;
  font-size: 90%;
}

#loan-form .form-intro.form-validation-messages h4 {
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 17.5px;
  color: #000;
}

#loan-form .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fields {
  border-bottom: 5px solid #00a997;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px 5%;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .fields {
    padding-top: 65px;
    padding-bottom: 65px;
    margin-bottom: 70px;
  }
}

.fields .field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .fields .field {
    flex-direction: row;
    margin-bottom: 17.5px;
    align-items: flex-start;
  }
}

.fields .field:last-of-type {
  margin-bottom: 0;
}

.fields .field label {
  flex: 0 1 100%;
  width: 100%;
  font-size: 85%;
  font-weight: 600;
  padding-bottom: 10px;
  letter-spacing: -0.004em;
}

@media (min-width: 992px) {
  .fields .field label {
    flex: 0 1 25%;
    width: 25%;
    text-align: right;
    padding: 15px 17.5px 0;
  }
}

.fields .field .input {
  flex: 0 1 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .fields .field .input {
    flex: 0 1 40%;
    width: 40%;
    padding: 0 17.5px;
  }
}

.fields .field .input input[type=text],
.fields .field .input input[type=email],
.fields .field .input input[type=number],
.fields .field .input input[type=password],
.fields .field .input select,
.fields .field .input textarea {
  width: 100%;
  font-size: 80%;
  border-radius: 2px;
  background: white;
  border: 1px solid #d0d0d0;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
}

.fields .field .input input[type=text].is-invalid,
.fields .field .input input[type=email].is-invalid,
.fields .field .input input[type=number].is-invalid,
.fields .field .input input[type=password].is-invalid,
.fields .field .input select.is-invalid,
.fields .field .input textarea.is-invalid {
  border-color: red;
}

.fields .field .input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/images/caret.svg") 98% center no-repeat;
  background-size: 20px 15px;
}

.fields .field .input textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100px;
}

.fields .field .input input[type=checkbox],
.fields .field .input input[type=radio] {
  margin: 0 auto 0;
}

@media (min-width: 992px) {
  .fields .field .input input[type=checkbox],
  .fields .field .input input[type=radio] {
    margin: 18px 0 0;
  }
}

.fields .field .input .pre {
  width: 45px;
  height: 45px;
  border: 2px solid #00a997;
  background: #00a997;
  border-radius: 2px 0 0 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields .field .input .pre + input {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}

.fields .field .tooltip {
  flex: 0 1 100%;
  width: 100%;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

@media (min-width: 992px) {
  .fields .field .tooltip {
    flex: 0 1 30%;
    width: 30%;
    font-size: 66%;
    height: 45px;
  }
}

.fields .field .tooltip span {
  position: relative;
  background: #00a997;
  display: block;
  border-radius: 2px;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fields .field .tooltip span svg {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  float: left;
}

.fields .field .tooltip span::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #00a997;
}

@media (min-width: 992px) {
  .fields .field .tooltip span::before {
    right: 100%;
    left: auto;
    top: 50%;
    margin: -10px 0 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #00a997;
  }
}

@media (min-width: 992px) {
  .fields .field .tooltip span {
    position: relative;
    margin-top: 0px;
  }
}

.fields .field.active .tooltip {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#leads .full_name {
  flex: 0 1 20%;
}

@media (max-width: 992px) {
  #leads .full_name {
    flex: 0 1 40%;
  }
}

#leads .street_address,
#leads .question {
  flex: 0 1 20%;
}

#leads .province {
  flex: 0 1 10%;
}

#leads .lead-id,
#leads .postal_code,
#leads .email_opt_in,
#leads .terms_conditions_consent {
  flex: 0 1 5%;
}

#leads .phone_number {
  flex: 0 1 25%;
}

@media (min-width: 992px) {
  #leads .phone_number {
    flex: 0 1 10%;
  }
}

#leads .email_address {
  flex: 0 1 25%;
}

@media (min-width: 992px) {
  #leads .email_address {
    flex: 0 1 15%;
  }
}

#leads a {
  color: #31314d;
}

@media (max-width: 992px) {
  #leads .hide-on-mobile {
    display: none;
  }
}

#leads .legend {
  font-size: 60%;
  font-weight: 500;
  display: flex;
}

#leads .legend > div {
  padding: 10px 5px;
  background: linear-gradient(to bottom, #fff, #efefef);
  font-weight: 600;
}

@media (min-width: 992px) {
  #leads .legend > div:first-of-type {
    border-radius: 2px 0 0 0;
  }

  #leads .legend > div:last-of-type {
    border-radius: 0 2px 0 0;
  }
}

#leads .legend.footer {
  background: linear-gradient(to top, #fff, #efefef);
}

@media (min-width: 992px) {
  #leads .legend.footer:first-of-type {
    border-radius: 0 0 0 2px;
  }

  #leads .legend.footer:last-of-type {
    border-radius: 0 0 2px 0;
  }
}

#leads .lead {
  display: flex;
  font-size: 80%;
}

#leads .lead > div {
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

#leads .lead:nth-of-type(odd) > div {
  background: rgba(255, 255, 255, 0.6);
}

#leads .lead:hover {
  background: #fefefe;
}

.single-lead .lead .field {
  display: flex;
  flex-direction: row;
  background: white;
}

.single-lead .lead .field:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.single-lead .lead .field .label {
  flex: 0 1 30%;
  padding: 10px 20px;
  font-size: 70%;
  font-weight: 600;
  min-height: 35px;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.05));
}

.single-lead .lead .field .value {
  flex: 0 1 70%;
  padding: 10px;
  min-height: 35px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .single-lead .lead .field .value {
    padding: 20px;
  }
}

